@charset "utf-8";
/*CSS document*/
* {
    font-family: "微软雅黑", serif;
}

em {
    font-weight: bold;
    font-style: normal;
}

.head {
    background-color: #3f8ef9;
    float: left;
    width: 200px;
    height: 800px;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.main {
    float: left;
    height: 800px;
    width: 770px;
    padding-left: 30px;
    background-color: white;
}

.title {
    font-size: 26px;
    font-weight: bold;
    margin: 20px 0;
}


.item p {
    margin-top: -2px;
    font-size: 18px;
}

.item h3 {
    margin-bottom: -2px;
}